<div class="header">
    <div class="title"><%= headerTitle %></div>
    <nav class="navbar">
        <div class="navbar-menu">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="#Ruapehu" class="navbar-item">
                Ruapehu
            </a>
            <a href="#Ngauruhoe" class="navbar-item">
                Ngauruhoe
            </a>
            <a href="#Taranaki/Egmont" class="navbar-item">
                Taranaki/Egmont
            </a>
            <a href="#Kermadec Islands" class="navbar-item">
                Kermadec Islands
            </a>
            <a href="#Tongariro" class="navbar-item">
                Tongariro
            </a>
            <a href="#White Island" class="navbar-item">
                White Island
            </a>
        </div>
    </nav>
</div>