<div class="header">
    <div class="title"><%= headerTitle %></div>
    <nav class="navbar">
        <div class="navbar-menu">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/cameras" class="navbar-item">
                Cameras
            </a>
        </div>
    </nav>
</div>