<div class="search-form">
    <div class="columns">

        <div class="column is-3">
            <form action="/movie" method="GET">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find movie" name="searchinput" required/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="button is-link" type="submit" value="Find"/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>