<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sparrow</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX19cHpk1O1dp4kc7is2LKfx9F3GVbtg&callback=initMap" async defer></script>-->
</head>
<body>

    <div class="container">

        <div class="section section-header">
            <% include components/header %>
            <!--<div class="nav">-->
                <!--<div class="nav-menu">-->
                    <!--<a href="#Ruapehu" class="nav-item">-->
                        <!--Ruapehu-->
                    <!--</a>-->
                    <!--<a href="#Ngauruhoe" class="nav-item">-->
                        <!--Ngauruhoe-->
                    <!--</a>-->
                    <!--<a href="#Taranaki/Egmont" class="nav-item">-->
                        <!--Taranaki/Egmont-->
                    <!--</a>-->
                    <!--<a href="#Kermadec Islands" class="nav-item">-->
                        <!--Kermadec Islands-->
                    <!--</a>-->
                    <!--<a href="#Tongariro" class="nav-item">-->
                        <!--Tongariro-->
                    <!--</a>-->
                    <!--<a href="#White Island" class="nav-item">-->
                        <!--White Island-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="section section-content">

            <% include components/volcano-results %>

        </div>

    </div>
</body>
</html>