<div class="header">
    <div class="columns">
        <div class="column is-9-desktop is-8-tablet">
            <div class="title">
                <a href="/home">
                    <span class="title-text"><%= headerTitle %></span>
                    <img src="img/sparrow-icon.png">
                </a>
            </div>
        </div>
        <div class="column is-3-desktop is-4-tablet is-hidden-mobile">
            <div class="nav">
                <div class="nav-menu">
                    <a href="/home" class="nav-item">
                        <i class="fa fa-fw fa-home"></i>
                        <span>Home</span>
                    </a>
                    <a href="/map" class="nav-item">
                        <i class="fa fa-fw fa-map-marker"></i>
                        <span>Map</span>
                    </a>
                    <a href="#" class="nav-item refresh">
                        <i class="fa fa-fw fa-refresh"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mobile-nav">

            <i class="fa fa-fw fa-bars"></i>

            <div class="nav-menu">
                <a href="/home" class="nav-item">
                    <i class="fa fa-fw fa-home"></i>
                    <span>Home</span>
                </a>
                <a href="/map" class="nav-item">
                    <i class="fa fa-fw fa-map-marker"></i>
                    <span>Map</span>
                </a>
            </div>
        </div>
    </div>
</div>