<div class="header">
    <div class="columns">
        <div class="column is-2-desktop is-3-tablet">
            <div class="title"><%= headerTitle %></div>
        </div>
        <div class="column">
            <div class="nav">
                <div class="nav-menu">
                    <a href="/home" class="nav-item">
                        Home
                    </a>
                    <a href="/map" class="nav-item">
                        Map
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>