<div class="header">
    <div class="title"><%= headerTitle %></div>
    <nav class="navbar">
        <div class="navbar-menu">
            <a href="/home" class="navbar-item">
                Home
            </a>
            <a href="/map" class="navbar-item">
                Map
            </a>
        </div>
    </nav>
</div>